@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  This is the most important part.
  It ensures the root of your app can scroll.
*/
html, body, #root {
  margin: 0;
  padding: 0;
  overflow: auto !important; /* Allow scrollbars to appear */
  overflow-x: hidden !important; /* Prevent horizontal scroll */
}