@tailwind base;
@tailwind utilities;
@tailwind components;

/* 
  !! IMPORTANT !!
  This rules out the most common cause of ScrollTrigger failure.
  It ensures that a scrollbar is ALWAYS possible.
*/
html, body, #root {
  overflow: visible !important;
  overflow-x: hidden !important; /* Allow vertical scroll, hide horizontal */
}

.arrDown{
  animation: anime infinite 1.5s linear;
}

@keyframes anime {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(-10px);
  }
}